@import "variables";
.pos-system {
  .bill-items{
    background-color: $white;
    width: 30vw;
    border: 1px solid #e3e5e7;
    padding:30px;
    border-radius: 10px;
    .cart-item-header{
      display: flex;
      .cart-item-name-header{
      }
      .cart-item-quantity-header{
      }
      .cart-item-cost-header{
      }
      .cart-item-total-header{
      }
    }
    .cart-items-list{
      padding: 0;
      .cart-item{
        padding: 15px 0px ;
        display: flex;
        .cart-item-name{
        }
        .cart-item-quantity{
        }
        .cart-item-cost{
        }
        .cart-item-total{
        }
      }
    }
  }
}
