@import "../../styles/variables";
.pos-system {
  .bill-items{
    background-color: $white;
    width: 30vw;
    border: 1px solid #e3e5e7;
    padding:30px;
    border-radius: 10px;
    .cart-item-header{
      display: flex;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      .cart-item-name-header{
        box-sizing: border-box;
        padding: 0 0 0 25px;
        width: 28%;
      }
      .cart-item-quantity-header{
        width: 20%;
      }
      .cart-item-cost-header{
        width: 11%;
      }
      .cart-item-discount-header{
        width: 17%;
      }
      .cart-item-total-header{
        width: 10%;
      }
    }
    .cart-items-list{
      padding: 0;
      font-size: 14px;
      .cart-item{
        padding: 5px 0 ;
        display: flex;
        flex-wrap: wrap;
        .cart-item-index{
          width: 25px;
        }
        .cart-item-name{
          width: 30%;
        }
        .cart-item-quantity{
          width: 30%;
          .plus,
          .minus
          {
            width: 22px;
          }
        }
        .cart-item-cost{
          width: 20%;
        }
        .cart-item-discount{
          width: 20%;
        }
        .cart-item-total{
          width: 20%;
        }
        .delete-item{
          width: 20px;
          height: 20px;
          background-image: url("../../assets/icons/delete.svg");
          background-position: 100% 100%;
          background-size: 100% 100%;
        }
      }
    }
    .sub-total{
      display: flex;
      margin: 0 0 10px 0;
      .sub-total-label{
        width: 30%;
        font-weight: 600;
      }
      .sub-total-value{

      }
    }
    .discount{
      display: flex;
      margin: 0 0 10px 0;
      .discount-label{
        width: 30%;
        font-weight: 600;
      }
      .discount-value{

      }
    }
    .total{
      display: flex;
      margin: 0 0 10px 0;
      .total-label{
        width: 30%;
        font-weight: 600;
      }
      .total-value{

      }
    }
  }
}
